<style>

    .snowfall-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1000;
    }

    .snowflake {
      --size: 0.5vw;
      width: var(--size);
      height: var(--size);
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -5vh;
      animation: snowfall 10s linear infinite;
    }

    @keyframes snowfall {
      0% {
        transform: translate3d(var(--left-ini, 0), 0, 0);
      }
      100% {
        transform: translate3d(var(--left-end, 0), 100vh, 0);
      }
    }

    .snowflake:nth-child(6n) {
      filter: blur(1px);
    }

</style>
